@media screen and (min-width: 360px) and (max-width: 490px) {
    /* -------------- Estruturação (INÍCIO) -------------- */
    .slider{
        background-color: rgb(15, 15, 15);
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 2% 0 2% 0;
        display: block;
        justify-content: center;
        border-radius: 25px;

        & .slide{
            text-align: center;

            & img{
                height: 50%;
                border-radius: 25px;
            }
        }

        & .navegação-manual{
            display: flex;
            justify-content: center;
            height: 5%;
            width: 100%;

            & button{
                height: 100%;
                width: 5%;

                font-size: 2vh;

                border: none;
            }

            & .avancar{
                background: linear-gradient(to right, #c800ffb4, #8929a3b4);
            }

            & .voltar{
                background: linear-gradient(to left, #c800ffb4, #8929a3b4);
            }

            & .voltar{
                
            }
        }
    }
/* -------------- Estruturação (FIM) -------------- */
/*-------------------------------------------------------------------------------------------------------*/
}




@media screen and (min-width: 1900px){
/* -------------- Estruturação (INÍCIO) -------------- */
    .slider{
        background-color: rgb(15, 15, 15);
        width: 90%;
        margin-left: 5%;
        padding: 2% 0 2% 0;
        display: block;
        justify-content: center;
        border-radius: 25px;

        & .slide{
            text-align: center;

            & img{
                height: 70%;
                border-radius: 25px;
            }
        }

        & .navegação-manual{
            display: flex;
            justify-content: center;
            height: 5%;
            width: 100%;

            & button{
                height: 100%;
                width: 5%;

                font-size: 4vh;

                border: none;
            }

            & .avancar{
                background: linear-gradient(to right, #c800ffb4, #8929a3b4);
            }

            & .voltar{
                background: linear-gradient(to left, #c800ffb4, #8929a3b4);
            }

            & .voltar{
                
            }
        }
    }
/* -------------- Estruturação (FIM) -------------- */
/*-------------------------------------------------------------------------------------------------------*/
}
