@media screen and (min-width: 380px) and (max-width: 1800px){
  
  * {
    padding: 0;
    margin: 0;
  }
  
  body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
  }
  
  .container{
    overflow-x: hidden;
  }
  
  p,
  h1,
  h3 {
    padding-left: 10px;
  }
  
  .imagem{
    text-align: center;
    padding-top: 100px;
  
    & img{
      max-height: 300px;
      border: solid 1px #f5d276;
      border-radius: 20px;
    }
  }
  
  .imagem img:hover{
    transform: scale(1.1);
    
  }
  
  .texto1{
    background-color: rgb(15, 15, 15);
    border-radius: 20px;
  
    max-width: 90%;
  
    margin-left: 5%;
    height: 95%;
  
    & p{
      padding-left: 2%;
    }
  
    & h3{
      padding-top: 2%;
      padding-left: 2%;
    }
  
    & img{
      height: 20%;
      border-radius: 20px;
    }
  }
  
  .centroEquipe{
   text-align: center;
  }
  
  .texto2{
    background-color: rgb(15, 15, 15);
    border-radius: 20px;
  
    max-width: 90%;
  
    margin-left: 5%;
    height: 45%;
  
    & p{
      padding-left: 2%;
    }
  
    & h3{
      padding-top: 2%;
      padding-left: 2%;
    }
  }
  
  .texto3{
    background-color: rgb(15, 15, 15);
    border-radius: 20px;
  
    max-width: 90%;
  
    margin-left: 5%;
    height: 55%;
  
    & p{
      padding-left: 30px;
    }
  
    & h3{
      padding-top: 2%;
      padding-left: 2%;
    }
  }
  
  .texto4{
    background-color: rgb(15, 15, 15);
    border-radius: 20px;
  
    max-width: 90%;
  
    margin-left: 5%;
    height: 30%;
  
    & ul li{
      padding-left: 2%;
      list-style-type: none;
    }
  
    & h3{
      padding-top: 2%;
      padding-left: 2%;
    }
  }
  
  .texto5{
    background-color: rgb(15, 15, 15);
    border-radius: 20px;
  
    max-width: 90%;
  
    margin-left: 5%;
    height: 58%;
    margin-top: 2%;
    padding-bottom: 1%;
  
    & ul li{
      padding-left: 2%;
      list-style-type: none;
    }
  
    & h4{
      padding-top: 2%;
      padding-left: 2%;
    }
  
  
    & .orgMET{
      display: flex;
      justify-content: center;
      background-color: rgb(29, 29, 29);
      height: 45%;
      border-radius: 20px;
      width: 90%;
  
      
      
      
      
      & img{
        height: 80%;
        border: #f5d276 solid 1px;
        border-radius: 20px;
        margin-top: 7%;
        margin-right: 2%;
      }
    }
  
    & .lugarGeral{
      margin-top: 20px;
      display: flex;
      background-color: rgb(29, 29, 29);
      height: 45%;
      border-radius: 20px;
      width: 90%;
  
      margin-left: 5%;
      margin-bottom: 20px;
  
      & img{
        height: 80%;
        border-radius: 20px;
        border: #f5d276 solid 1px;
        margin-top: 7%;
        margin-right: 2%;
      }
    }
  }
  
  nav {
    background-color: rgb(26, 26, 26);
    height: 73px;
  
    position: sticky;
    top: 0;
  
    & ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      align-items: center;
      padding: 14px;
  
      & li {
        padding-top: 15px;
      }
    }
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  header img {
    height: 30%;
    border-radius: 50%;
  }
  
  .center {
    text-align: center;
  }
  
  footer img {
    height: 20.25px;
  }
  
  footer p {
    padding-top: 10px;
  }
  
  footer {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    background: linear-gradient(to top, #8929a3b4, rgba(0, 0, 0, 0));
  }
  
  .centroRedeSocial p {
    text-align: center;
  }
  
  footer a {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  
  /*  */
  
  a:hover {
    color: #f5d276;
  }
  
  section p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-right: 50px;
  }
  
  h3 {
    width: 500px;
    margin-top: 20px;
  }
  
  h3:hover {
    color: #f5d276;
  }
  
  h1 {
    color: #8829a3;
  }
  
  /* Integrantes */
  
  .integrantes {
    background-color: rgb(23, 23, 23);
    padding-top: 50px;
    margin-top: 100px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
  
    width: 100%;
  }
  
  .justificado {
    display: block;
    scale: 0.56;
  }
  
  .justificado li {
    list-style-type: none;
  }
  
  .funcao {
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }
  
  .programadores {
    padding-right: 20px;
    border-left: rgb(71, 71, 71) solid 3px;
    padding-left: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }
  
  .merito {
    padding-right: 20px;
    padding-left: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }
  
  .organizacao {
    padding-right: 20px;
    padding-left: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }
  
  .Tec {
    padding-left: 20px;
    padding-right: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }
  
  .Ment {
    padding-left: 20px;
    padding-right: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }
  
  h2 {
    text-align: center;
  }
  
  .slide {
    text-align: center;
    scale: 0.6;

    & button{
      font-size: 150%;
    }
  }
  
  #primeiraImagem {
    border: #f5d276 solid 1px;
    border-radius: 15px;
  
    margin-left: 10px;
  }
  #segundaImagem {
    
    border: #f5d276 solid 1px;
    border-radius: 15px;
  
    margin-right: 10px;
  }
  
  .tudo {
    margin-top: 30%;
    display: flex;
    justify-content: center;
    scale: 2;
  }
  
  
  
  .img1 {
    height: 150px;
  }
  
  .img2{
    height: 150px;
  }
  
  .trocar {
    background-color: transparent;
    border: none;
    color: #f5d276;
  }
  .trocar:hover {
    cursor: pointer;
    transform: scale(0.9);
  }
  
  .recado {
    text-align: center;
    margin-top: 70px;
  }

}




@media screen and (max-width: 1200px){
  body{
    font-size: 60px;
  }

  nav{
    height: 8%;

    & ul{

      & li{
        margin-top: 4.5%;
      }
    }
  }

  footer{

    & img{
      height: 100px;
    }

    & .instagram{
      margin-right: 20px;
    }

    & .gmail{
      margin-left: 20px;
    }
  }
}





@media screen and (min-width: 1800px) and (max-width: 8000px){

  * {
    padding: 0;
    margin: 0;
  }
  
  body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
  }
  
  .container{
    overflow-x: hidden;
  }
  
  p,
  h1,
  h3 {
    padding-left: 10px;
  }
  
  .imagem{
    text-align: center;
    padding-top: 100px;
  
    & img{
      max-height: 300px;
      border: solid 1px #f5d276;
      border-radius: 20px;
    }
  }
  
  .imagem img:hover{
    transform: scale(1.1);
    
  }
  
  .texto1{
    background-color: rgb(15, 15, 15);
    border-radius: 20px;
  
    max-width: 90%;
  
    margin-left: 5%;
    height: 50%;
  
    & p{
      padding-left: 2%;
    }
  
    & h3{
      padding-top: 2%;
      padding-left: 2%;
    }
  
    & img{
      height: 40%;
      border-radius: 20px;
    }
  }
  
  .centroEquipe{
   text-align: center;
  }
  
  .texto2{
    background-color: rgb(15, 15, 15);
    border-radius: 20px;
  
    max-width: 90%;
  
    margin-left: 5%;
    height: 20%;
  
    & p{
      padding-left: 2%;
    }
  
    & h3{
      padding-top: 2%;
      padding-left: 2%;
    }
  }
  
  .texto3{
    background-color: rgb(15, 15, 15);
    border-radius: 20px;
  
    max-width: 90%;
  
    margin-left: 5%;
    height: 20%;
  
    & p{
      padding-left: 30px;
    }
  
    & h3{
      padding-top: 2%;
      padding-left: 2%;
    }
  }
  
  .texto4{
    background-color: rgb(15, 15, 15);
    border-radius: 20px;
  
    max-width: 90%;
  
    margin-left: 5%;
    height: 28%;
  
    & ul li{
      padding-left: 2%;
      list-style-type: none;
    }
  
    & h3{
      padding-top: 2%;
      padding-left: 2%;
    }
  }
  
  .texto5{
    background-color: rgb(15, 15, 15);
    border-radius: 20px;
  
    max-width: 90%;
  
    margin-left: 5%;
    height: 55%;
    margin-top: 2%;
    padding-bottom: 1%;
  
    & ul li{
      padding-left: 2%;
      list-style-type: none;
    }
  
    & h4{
      padding-top: 2%;
      padding-left: 2%;
    }
  
  
    & .orgMET{
      display: flex;
      background-color: rgb(29, 29, 29);
      height: 45%;
      border-radius: 20px;
      width: 90%;
  
      margin-left: 5%;
      
      
      & img{
        height: 80%;
        border-radius: 20px;
        margin-top: 1.5%;
        margin-left: 70%;
        border: #f5d276 solid 1px;
      }
    }
  
    & .lugarGeral{
      margin-top: 20px;
      display: flex;
      background-color: rgb(29, 29, 29);
      height: 45%;
      border-radius: 20px;
      width: 90%;
  
      margin-left: 5%;
      margin-bottom: 20px;
  
      & img{
        height: 80%;
        border-radius: 20px;
        margin-top: 1.5%;
        margin-left: 74.5%;
        border: #f5d276 solid 1px;
      }
    }
  }
  
  nav {
    background-color: rgb(26, 26, 26);
    height: 73px;
  
    position: sticky;
    top: 0;
  
    & ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      align-items: center;
      padding: 14px;
  
      & li {
        padding-top: 15px;
      }
    }
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  header img {
    height: 30%;
    border-radius: 50%;
  }
  
  .center {
    text-align: center;
  }
  
  footer img {
    height: 40px;
  }
  
  footer p {
    padding-top: 10px;
  }
  
  footer {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    background: linear-gradient(to top, #8929a3b4, rgba(0, 0, 0, 0));
  }
  
  .centroRedeSocial p {
    text-align: center;
  }
  
  footer a {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  
  /*  */
  
  a:hover {
    color: #f5d276;
  }
  
  section p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-right: 50px;
  }
  
  h3 {
    width: 500px;
    margin-top: 20px;
  }
  
  h3:hover {
    color: #f5d276;
  }
  
  h1 {
    color: #8829a3;
  }
  
  /* Integrantes */
  
  .integrantes {
    background-color: rgb(23, 23, 23);
    padding-top: 50px;
    margin-top: 100px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
  
    width: 100%;
  }
  
  .justificado {
    display: block;
    scale: 1;
  }
  
  .justificado li {
    list-style-type: none;
  }
  
  .funcao {
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }
  
  .programadores {
    padding-right: 20px;
    border-left: rgb(71, 71, 71) solid 3px;
    padding-left: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }
  
  .merito {
    padding-right: 20px;
    padding-left: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }
  
  .organizacao {
    padding-right: 20px;
    padding-left: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }
  
  .Tec {
    padding-left: 20px;
    padding-right: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }
  
  .Ment {
    padding-left: 20px;
    padding-right: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }
  
  h2 {
    text-align: center;
  }
  
  .slide {
    text-align: center;
  }
  
  #primeiraImagem {
    border: #f5d276 solid 1px;
    border-radius: 15px;
  
    margin-left: 10px;
  }
  #segundaImagem {
    
    border: #f5d276 solid 1px;
    border-radius: 15px;
  
    margin-right: 10px;
  }
  
  .tudo {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    scale: 2;
  }
  
  
  
  .img1 {
    height: 150px;
  }
  
  .img2{
    height: 150px;
  }
  
  .trocar {
    background-color: transparent;
    border: none;
    color: #f5d276;
  }
  .trocar:hover {
    cursor: pointer;
    transform: scale(0.9);
  }
  
  .recado {
    text-align: center;
    margin-top: 70px;
  }

}
