@media screen and (min-width: 360px){ 
  * {
    padding: 0;
    margin: 0;
  }
  
  body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    font-size: 2vh;
  }
  
  .container{
    overflow-x: hidden;
  }
  
  p,
  h1,
  h3 {
    margin-top: 2%;
    margin-left: 6.8%;
  }
  
  .texto1{
    background-color: rgb(15, 15, 15);
    border-radius: 20px;
  
    max-width: 90%;
  
    margin-left: 5%;
    height: 130%;
    padding-top: 0.1%;
  
    & p{
      padding-left: 2%;
    }
  
    & h3{
      padding-left: 2%;
    }
  
    & img{
      height: 50%;
      margin-top: 1%;
      border-radius: 20px;
    }
  }
  
  .centroEquipe{
   text-align: center;
  }
  
  .texto2{
    background-color: rgb(15, 15, 15);
    border-radius: 20px;
  
    max-width: 90%;
  
    margin-left: 5%;
    height: 55%;
  
    & p{
      padding-left: 2%;
    }
  
    & h3{
      padding-top: 2%;
      padding-left: 2%;
    }
  }
  
  .texto3{
    background-color: rgb(15, 15, 15);
    border-radius: 20px;
  
    max-width: 90%;
  
    margin-left: 5%;
    height: 55%;
  
    & p{
      padding-left: 2%;
    }
  
    & h3{
      padding-top: 2%;
      padding-left: 2%;
    }
  }
  
  .texto4{
    background-color: rgb(15, 15, 15);
    border-radius: 20px;
  
    max-width: 90%;
  
    margin-left: 5%;
    height: 30%;
  
    & ul li{
      padding-left: 8.9%;
      list-style-type: none;
    }
  
    & h3{
      padding-top: 2%;
      padding-left: 2%;
    }
  }
  
  .texto5{
    background-color: rgb(15, 15, 15);
    border-radius: 20px;
  
    max-width: 90%;
  
    margin-left: 5%;
    height: 90%;
    margin-top: 2%;
    padding-bottom: 1%;
  
    & h4{
      padding-top: 2%;
      padding-left: 2%;
    }
  
  
    & .orgMET{
      text-align: center;
      display: block;
      justify-content: center;
      background-color: rgb(29, 29, 29);
      height: 45%;
      border-radius: 20px;
      width: 90%;
      margin-left: 5%;
  
      & img{
        height: 70%;
        border: #f5d276 solid 1px;
        border-radius: 20px;
        margin-top: 2%;
        margin-right: 2%;
      }
    }
  
    & .lugarGeral{
      text-align: center;
      display: block;
      justify-content: center;
      background-color: rgb(29, 29, 29);
      height: 45%;
      border-radius: 20px;
      width: 90%;
      margin-left: 5%;
  
      & img{
        height: 80%;
        border-radius: 20px;
        border: #f5d276 solid 1px;
        margin-top: 0.5%;
        margin-right: 2%;
      }
    }
  }
  
  nav {
    background-color: rgb(26, 26, 26);
    height: 8.3%;
  
    position: sticky;
    top: 0;
  
    & ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      align-items: center;
      padding: 3.5%;
  
      & li {
        margin-top: 2.3%;
      }
    }
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  header img {
    height: 30%;
    border-radius: 50%;
  }
  
  .center {
    text-align: center;
  }
  
  footer img {
    height: 20.25px;
  }
  
  footer p {
    padding-top: 10px;
  }
  
  footer {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    background: linear-gradient(to top, #8929a3b4, rgba(0, 0, 0, 0));
  }
  
  .centroRedeSocial{

    & img{
      height: 50px;
    }
  }
  
  footer a {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  
  /*  */
  
  a:hover {
    color: #f5d276;
  }
  
  section p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-right: 50px;
  }
  
  h3 {
    width: 500px;
    margin-top: 20px;
  }
  
  h3:hover {
    color: #f5d276;
  }
  
  h1 {
    color: #8829a3;
  }
  
  /* Integrantes */
  
  .integrantes {
    background-color: rgb(23, 23, 23);
    padding-top: 50px;
    margin-top: 100px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
  
    width: 100%;
  }
  
  .justificado {
    display: block;
    scale: 0.56;
  }
  
  .justificado li {
    list-style-type: none;
  }
  
  .funcao {
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }
  
  .programadores {
    padding-right: 20px;
    border-left: rgb(71, 71, 71) solid 3px;
    padding-left: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }
  
  .merito {
    padding-right: 20px;
    padding-left: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }
  
  .organizacao {
    padding-right: 20px;
    padding-left: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }
  
  .Tec {
    padding-left: 20px;
    padding-right: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }
  
  .Ment {
    padding-left: 20px;
    padding-right: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }
  
  h2 {
    text-align: center;
  }
  
  .slide {
    text-align: center;
    scale: 0.56;
  
    & button{
      font-size: 150%;
    }
  }
  
  #primeiraImagem {
    border: #f5d276 solid 1px;
    border-radius: 15px;
  
    margin-left: 10px;
  }
  #segundaImagem {
    
    border: #f5d276 solid 1px;
    border-radius: 15px;
  
    margin-right: 10px;
  }
  
  .tudo {
    margin-top: 30%;
    display: flex;
    justify-content: center;
    scale: 2;
  }
  
  
  
  .img1 {
    height: 150px;
  }
  
  .img2{
    height: 150px;
  }
  
  .trocar {
    background-color: transparent;
    border: none;
    color: #f5d276;
  }
  .trocar:hover {
    cursor: pointer;
    transform: scale(0.9);
  }
  
  .recado {
    text-align: center;
    margin-top: 70px;
  }
}




@media(max-width: 620px){
  nav {
    background-color: rgb(26, 26, 26);
    height: 8.3%;
  
    position: sticky;
    top: 0;
  
    & ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      align-items: center;
      padding: 3%;
  
      & li {
        padding-top: 9px;
      }
    }
  }

  .texto1{
    height: 130%;

    & img{
      height: 40%;
    }
  }
}




@media(max-width: 1210px){
  nav {
    background-color: rgb(26, 26, 26);
    height: 8.3%;
  
    position: sticky;
    top: 0;
  
    & ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      align-items: center;
      padding: 1.5%;
  
      & li {
        padding-top: 9px;
      }
    }
  }

  .texto1{
    height: 130%;

    & img{
      height: 40%;
    }
  }
}




@media (min-width: 1900px){
  body{
    font-size: 2vh;
  }

  nav {
    background-color: rgb(26, 26, 26);
    height: 8.3%;
  
    position: sticky;
    top: 0;
  
    & ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
  
      & li {
        margin-top: 1%;
      }
    }
  }

  .justificado{
    scale: 1.2;
  }

  .texto5{
    display: flex;
    background-color: rgb(15, 15, 15);
    border-radius: 50px;
    max-width: 90%;
    margin-left: 5%;
    height: 90%;
    margin-top: 2%;
    padding-bottom: 1%;
  
    & .orgMET{
      display: block;
      justify-content: center;
      background-color: rgb(29, 29, 29);
      height: 80%;
      border-radius: 20px;
      max-width: 40%;
      margin: 5.5%;
  
      & img{
        height: 70%;
        border-radius: 20px;
        margin-top: 7%;
        margin-right: 2%;
      }

      & h4{
        padding-top: 2%;
        padding-left: 0%;
      }
    
    }
  
    & .lugarGeral{
      display: block;
      justify-content: center;
      background-color: rgb(29, 29, 29);
      height: 80%;
      border-radius: 20px;
      max-width: 40%;
      margin: 5.5%;
  
      & img{
        height: 80%;
        border-radius: 20px;
        border: #f5d276 solid 1px;
        margin-top: 7%;
        margin-right: 2%;
      }
    }
  }

  .tudo{
    scale: 6;
  }
}




@media screen and (min-width: 2000px){
  * {
    padding: 0;
    margin: 0;
  }
  
  body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    font-size: 2vh;
  }
  
  .container{
    overflow-x: hidden;
  }
  
  p,
  h1,
  h3 {
    margin-top: 2%;
    margin-left: 6.8%;
  }
  
  .texto1{
    background-color: rgb(15, 15, 15);
    border-radius: 50px;
  
    max-width: 90%;
  
    margin-left: 5%;
    height: 90%;
    padding-top: 0.1%;
  
    & p{
      padding-left: 2%;
    }
  
    & h3{
      padding-top: 3%;
      padding-left: 2%;
    }
  
    & img{
      height: 50%;
      margin-top: 2%;
      border-radius: 20px;
    }
  }
  
  .centroEquipe{
   text-align: center;
  }
  
  .texto2{
    background-color: rgb(15, 15, 15);
    border-radius: 50px;
  
    max-width: 90%;
  
    margin-left: 5%;
    height: 30%;
  
    & p{
      padding-left: 2%;
    }
  
    & h3{
      padding-top: 2%;
      padding-left: 2%;
    }
  }
  
  .texto3{
    background-color: rgb(15, 15, 15);
    border-radius: 50px;
  
    max-width: 90%;
  
    margin-left: 5%;
    height: 30%;
  
    & p{
      padding-left: 2%;
    }
  
    & h3{
      padding-top: 2%;
      padding-left: 2%;
    }
  }
  
  .texto4{
    background-color: rgb(15, 15, 15);
    border-radius: 50px;
  
    max-width: 90%;
  
    margin-left: 5%;
    height: 30%;
  
    & ul li{
      padding-left: 8.9%;
      list-style-type: none;
    }
  
    & h3{
      padding-top: 2%;
      padding-left: 2%;
    }
  }
  
  .texto5{
    display: flex;
    background-color: rgb(15, 15, 15);
    border-radius: 50px;
    max-width: 90%;
    margin-left: 5%;
    height: 90%;
    margin-top: 2%;
    padding-bottom: 1%;
  
    & .orgMET{
      display: block;
      justify-content: center;
      background-color: rgb(29, 29, 29);
      height: 80%;
      border-radius: 20px;
      max-width: 40%;
      margin: 5.5%;
  
      & img{
        height: 70%;
        border-radius: 20px;
        margin-top: 7%;
        margin-right: 2%;
      }

      & h4{
        padding-top: 2%;
        padding-left: 0%;
      }
    
    }
  
    & .lugarGeral{
      display: block;
      justify-content: center;
      background-color: rgb(29, 29, 29);
      height: 80%;
      border-radius: 20px;
      max-width: 40%;
      margin: 5.5%;
  
      & img{
        height: 80%;
        border-radius: 20px;
        border: #f5d276 solid 1px;
        margin-top: 7%;
        margin-right: 2%;
      }
    }
  }
  
  nav {
    background-color: rgb(26, 26, 26);
    height: 8.3%;
  
    position: sticky;
    top: 0;
  
    & ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      align-items: center;
      padding: 0.6%;
    }
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  header img {
    height: 30%;
    border-radius: 50%;
  }
  
  .center {
    text-align: center;
  }
  
  footer img {
    height: 20.25px;
  }
  
  footer p {
    padding-top: 10px;
  }
  
  footer {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    background: linear-gradient(to top, #8929a3b4, rgba(0, 0, 0, 0));
  }
  
  .centroRedeSocial {
    
    & img{
      height: 100px;
      margin: 10px;
    }
  }
  
  footer a {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  
  /*  */
  
  a:hover {
    color: #f5d276;
  }
  
  section p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-right: 50px;
  }
  
  h3 {
    width: 500px;
    margin-top: 20px;
  }
  
  h3:hover {
    color: #f5d276;
  }
  
  h1 {
    color: #8829a3;
  }
  
  /* Integrantes */
  
  .integrantes {
    background-color: rgb(23, 23, 23);
    padding-top: 50px;
    padding-bottom: 50px; 
    margin-top: 100px;
    

    display: flex;
    justify-content: center;
  
    max-width: 100%;
    height: 30%;
  }
  
  .justificado {
    display: block;
    scale: 1;
  }
  
  .justificado li {
    list-style-type: none;
  }
  
  .funcao {
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }
  
  .programadores {
    padding-right: 20px;
    border-left: rgb(71, 71, 71) solid 3px;
    padding-left: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }
  
  .merito {
    padding-right: 20px;
    padding-left: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }
  
  .organizacao {
    padding-right: 20px;
    padding-left: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }
  
  .Tec {
    padding-left: 20px;
    padding-right: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }
  
  .Ment {
    padding-left: 20px;
    padding-right: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }
  
  h2 {
    text-align: center;
  }
  
  .slide {
    text-align: center;
    scale: 0.5;
  }
  
  #primeiraImagem {
    border: #f5d276 solid 1px;
    border-radius: 15px;
  
    margin-left: 10px;
  }
  #segundaImagem {
    
    border: #f5d276 solid 1px;
    border-radius: 15px;
  
    margin-right: 10px;
  }
  
  .tudo {
    margin-top: 30%;
    display: flex;
    justify-content: center;
    scale: 8;
  }
  
  
  
  .img1 {
    height: 150px;
  }
  
  .img2{
    height: 150px;
  }
  
  .trocar {
    background-color: transparent;
    border: none;
    color: #f5d276;
  }
  .trocar:hover {
    cursor: pointer;
    transform: scale(0.9);
  }
  
  .recado {
    text-align: center;
    margin-top: 70px;
  }
}




@media screen and (min-width: 7500px){
  *{
    padding: 0;
    margin: 0;
  }

  body{
    overflow-x: hidden;
    font-size: 2vh;
  }



  .container{
    overflow-x: hidden;
  }

  .texto1{

    & img{
      border-radius: 80px;
    }
  }

  .texto1, .texto2, .texto3, .texto4, .texto5{
    border-radius: 80px;
  }

  .centroRedeSocial{

    & img{
      height: 250px;
    }
  }

  .texto5{
    display: flex;
    background-color: rgb(15, 15, 15);
    border-radius: 20px;
    max-width: 90%;
    margin-left: 5%;
    height: 90%;
    margin-top: 2%;
    padding-bottom: 1%;
  
    & .orgMET{
      display: block;
      justify-content: center;
      background-color: rgb(29, 29, 29);
      height: 80%;
      border-radius: 20px;
      max-width: 40%;
      margin: 5.5%;
  
      & img{
        height: 70%;
        border-radius: 20px;
        margin-top: 7%;
        margin-right: 2%;
      }

      & h4{
        padding-top: 2%;
        padding-left: 0%;
      }
    
    }
  
    & .lugarGeral{
      display: block;
      justify-content: center;
      background-color: rgb(29, 29, 29);
      height: 80%;
      border-radius: 20px;
      max-width: 40%;
      margin: 5.5%;
  
      & img{
        height: 80%;
        border-radius: 20px;
        border: #f5d276 solid 1px;
        margin-top: 7%;
        margin-right: 2%;
      }
    }
  }

  .tudo{
    scale: 25;
  }
}
