@media  (max-width: 400px) {
  * {
    padding: 0;
    margin: 0;
  }

  body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
  }

  p,
  h1,
  h3 {
    padding-left: 10px;
  }

  .imagem{
    text-align: center;
    padding-top: 100px;
  
    & img{
      max-height: 300px;
      border: solid 1px #f5d276;
      border-radius: 20px;
    }
  }
  
  .imagem img:hover{
    transform: scale(1.1);
    
  }

  .texto1{
    background-color: rgb(15, 15, 15);
    border-radius: 20px;

    max-width: 90%;

    margin-left: 5%;
    height: 690px;

    & p{
      padding-left: 30px;
    }

    & h3{
      padding-top: 25px;
      padding-left: 30px;
    }

    & img{
      height: 50px;
    }
  }

  .texto2{
    background-color: rgb(15, 15, 15);
    border-radius: 20px;

    max-width: 90%;

    margin-left: 5%;
    height: 380px;

    & p{
      padding-left: 30px;
    }

    & h3{
      padding-top: 25px;
      padding-left: 30px;
    }
  }

  .texto3{
    background-color: rgb(15, 15, 15);
    border-radius: 20px;

    max-width: 90%;

    margin-left: 5%;
    height: 430px;

    & p{
      padding-left: 30px;
    }

    & h3{
      padding-top: 25px;
      padding-left: 30px;
    }
  }

  .texto4{
    background-color: rgb(15, 15, 15);
    border-radius: 20px;

    max-width: 90%;

    margin-left: 5%;
    height: 250px;

    & ul li{
      padding-left: 30px;
      list-style-type: none;
    }

    & h3{
      padding-top: 25px;
      padding-left: 30px;
    }
  }

  .texto5{
    background-color: rgb(15, 15, 15);
    border-radius: 20px;

    max-width: 90%;

    margin-left: 5%;
    height: 570px;
    margin-top: 25px;
    padding-bottom: 20px;

    & ul li{
      padding-left: 30px;
      list-style-type: none;
    }

    & h4{
      padding-top: 25px;
      padding-left: 30px;
    }


    & .orgMET{
      display: flex;
      background-color: rgb(29, 29, 29);
      height: 45%;
      border-radius: 20px;
      width: 90%;

      margin-left: 5%;
      
      
      & img{
        height: 200px;
        border-radius: 20px;
        margin-top: 25px;
        margin-right: 10px;
        border: #f5d276 solid 1px;
      }
    }

    & .lugarGeral{
      margin-top: 20px;
      display: flex;
      background-color: rgb(29, 29, 29);
      height: 45%;
      border-radius: 20px;
      width: 90%;

      margin-left: 5%;
      margin-bottom: 20px;

      & img{
        height: 200px;
        border-radius: 20px;
        margin-top: 25px;
        margin-right: 10px;
        border: #f5d276 solid 1px;
      }
    }
  }

  nav {
    background-color: rgb(26, 26, 26);
    height: 7%;

    position: sticky;
    top: 0;

    & ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      align-items: center;
      padding: 14px;

      & li {
        padding-top: 15px;
      }
    }
  }

  a {
    color: white;
    text-decoration: none;
  }

  header img {
    height: 30%;
    border-radius: 50%;
  }

  .center {
    text-align: center;
  }

  footer img {
    height: 20.25px;
  }

  footer p {
    padding-top: 10px;
  }

  footer {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    background: linear-gradient(to top, #8929a3b4, rgba(0, 0, 0, 0));
  }

  .centroRedeSocial p {
    text-align: center;
  }

  footer a {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  /*  */

  a:hover {
    color: #f5d276;
  }

  section p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-right: 50px;
  }

  h3 {
    width: 500px;
    margin-top: 20px;
  }

  h3:hover {
    color: #f5d276;
  }

  h1 {
    color: #8829a3;
  }

  /* Integrantes */

  .integrantes {
    background-color: rgb(23, 23, 23);
    padding-top: 50px;
    margin-top: 100px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;

    width: 100%;
  }

  .justificado {
    display: block;
    scale: 0.6;
  }

  .justificado li {
    list-style-type: none;
  }

  .funcao {
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }

  .programadores {
    padding-right: 20px;
    border-left: rgb(71, 71, 71) solid 3px;
    padding-left: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }

  .merito {
    padding-right: 20px;
    padding-left: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }

  .organizacao {
    padding-right: 20px;
    padding-left: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }

  .Tec {
    padding-left: 20px;
    padding-right: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }

  .Ment {
    padding-left: 20px;
    padding-right: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }

  h2 {
    text-align: center;
  }

  .slide {
    text-align: center;
  }

  #primeiraImagem {
    border: #f5d276 solid 1px;
    border-radius: 15px;

    margin-left: 10px;
  }
  #segundaImagem {
    
    border: #f5d276 solid 1px;
    border-radius: 15px;

    margin-right: 10px;
  }

  .tudo {
    display: flex;
    justify-content: center;
    scale: 0.34;
  }

  

  .img1 {
    height: 150px;
  }

  .img2{
    height: 150px;
  }

  .trocar {
    background-color: transparent;
    border: none;
    color: #f5d276;
  }
  .trocar:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .recado {
    text-align: center;
    margin-top: 70px;
  }
}





@media screen and (min-width: 400px) {
  * {
    padding: 0;
    margin: 0;
  }

  body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
  }

  p,
  h1,
  h3 {
    padding-left: 10px;
  }

  .imagem{
    text-align: center;
    padding-top: 100px;
  
    & img{
      max-height: 300px;
      border: solid 1px #f5d276;
      border-radius: 20px;
    }
  }
  
  .imagem img:hover{
    transform: scale(1.1);
    
  }

  .texto1{
    background-color: rgb(15, 15, 15);
    border-radius: 20px;

    max-width: 90%;

    margin-left: 5%;
    height: 500px;

    & p{
      padding-left: 30px;
    }

    & h3{
      padding-top: 25px;
      padding-left: 30px;
    }
  }

  .texto2{
    background-color: rgb(15, 15, 15);
    border-radius: 20px;

    max-width: 90%;

    margin-left: 5%;
    height: 350px;

    & p{
      padding-left: 30px;
    }

    & h3{
      padding-top: 25px;
      padding-left: 30px;
    }
  }

  .texto3{
    background-color: rgb(15, 15, 15);
    border-radius: 20px;

    max-width: 90%;

    margin-left: 5%;
    height: 400px;

    & p{
      padding-left: 30px;
    }

    & h3{
      padding-top: 25px;
      padding-left: 30px;
    }
  }

  .texto4{
    background-color: rgb(15, 15, 15);
    border-radius: 20px;

    max-width: 90%;

    margin-left: 5%;
    height: 250px;

    & ul li{
      padding-left: 30px;
      list-style-type: none;
    }

    & h3{
      padding-top: 25px;
      padding-left: 30px;
    }
  }

  .texto5{
    background-color: rgb(15, 15, 15);
    border-radius: 20px;

    max-width: 90%;

    margin-left: 5%;
    height: 570px;
    margin-top: 25px;
    padding-bottom: 20px;

    & ul li{
      padding-left: 30px;
      list-style-type: none;
    }

    & h4{
      padding-top: 25px;
      padding-left: 30px;
    }


    & .orgMET{
      display: flex;
      background-color: rgb(29, 29, 29);
      height: 45%;
      border-radius: 20px;
      width: 90%;

      margin-left: 5%;
      
      
      & img{
        height: 200px;
        border-radius: 20px;
        margin-top: 25px;
        margin-right: 10px;
        margin-left: 65%;
        border: #f5d276 solid 1px;
      }
    }

    & .lugarGeral{
      margin-top: 20px;
      display: flex;
      background-color: rgb(29, 29, 29);
      height: 45%;
      border-radius: 20px;
      width: 90%;

      margin-left: 5%;
      margin-bottom: 20px;

      & img{
        height: 200px;
        border-radius: 20px;
        margin-top: 25px;
        margin-right: 10px;
        margin-left: 60%;
        border: #f5d276 solid 1px;
      }
    }
  }

  nav {
    background-color: rgb(26, 26, 26);
    height: 7%;

    position: sticky;
    top: 0;

    & ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      align-items: center;
      padding: 14px;

      & li {
        padding-top: 15px;
      }
    }
  }

  a {
    color: white;
    text-decoration: none;
  }

  header img {
    height: 30%;
    border-radius: 50%;
  }

  .center {
    text-align: center;
  }

  footer img {
    height: 20.25px;
  }

  footer p {
    padding-top: 10px;
  }

  footer {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    background: linear-gradient(to top, #8929a3b4, rgba(0, 0, 0, 0));
  }

  .centroRedeSocial p {
    text-align: center;
  }

  footer a {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  /*  */

  a:hover {
    color: #f5d276;
  }

  section p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-right: 50px;
  }

  h3 {
    width: 500px;
    margin-top: 20px;
  }

  h3:hover {
    color: #f5d276;
  }

  h1 {
    color: #8829a3;
  }

  /* Integrantes */

  .integrantes {
    background-color: rgb(23, 23, 23);
    padding-top: 50px;
    margin-top: 100px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;

    width: 100%;
  }

  .justificado {
    display: block;
    scale: 0.6;
  }

  .justificado li {
    list-style-type: none;
  }

  .funcao {
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }

  .programadores {
    padding-right: 20px;
    border-left: rgb(71, 71, 71) solid 3px;
    padding-left: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }

  .merito {
    padding-right: 20px;
    padding-left: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }

  .organizacao {
    padding-right: 20px;
    padding-left: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }

  .Tec {
    padding-left: 20px;
    padding-right: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }

  .Ment {
    padding-left: 20px;
    padding-right: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }

  h2 {
    text-align: center;
  }

  .slide {
    text-align: center;
  }

  #primeiraImagem {
    border: #f5d276 solid 1px;
    border-radius: 15px;

    margin-left: 10px;
  }
  #segundaImagem {
    
    border: #f5d276 solid 1px;
    border-radius: 15px;
  }

  .tudo {
    display: flex;
    justify-content: center;
    scale: 40%;
  }

  

  .img1 {
    height: 200px;
  }

  .img2{
    height: 150px;
  }

  .trocar {
    background-color: transparent;
    border: none;
    color: #f5d276;
  }
  .trocar:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .recado {
    text-align: center;
    margin-top: 70px;
  }
}





@media screen and (min-width: 1300px) {
  * {
    padding: 0;
    margin: 0;
  }

  body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
  }

  p,
  h1,
  h3 {
    padding-left: 10px;
  }

  .imagem{
    text-align: center;
    padding-top: 100px;
  
    & img{
      max-height: 300px;
      border: solid 1px #f5d276;
      border-radius: 20px;
    }
  }
  
  .imagem img:hover{
    transform: scale(1.1);
    
  }

  .texto1{
    background-color: rgb(15, 15, 15);
    border-radius: 20px;

    max-width: 90%;

    margin-left: 5%;
    height: 540px;

    & p{
      padding-left: 30px;
    }

    & h3{
      padding-top: 25px;
      padding-left: 30px;
    }

    & img{
      height: 250px;
    }

    & .centroEquipe{
      text-align: center;

      & img{
        margin-top: 20px;
      }
    }
  }

  .texto2{
    background-color: rgb(15, 15, 15);
    border-radius: 20px;

    max-width: 90%;

    margin-left: 5%;
    height: 350px;

    & p{
      padding-left: 30px;
    }

    & h3{
      padding-top: 25px;
      padding-left: 30px;
    }
  }

  .texto3{
    background-color: rgb(15, 15, 15);
    border-radius: 20px;

    max-width: 90%;

    margin-left: 5%;
    height: 400px;

    & p{
      padding-left: 30px;
    }

    & h3{
      padding-top: 25px;
      padding-left: 30px;
    }
  }

  .texto4{
    background-color: rgb(15, 15, 15);
    border-radius: 20px;

    max-width: 90%;

    margin-left: 5%;
    height: 250px;

    & ul li{
      padding-left: 30px;
      list-style-type: none;
    }

    & h3{
      padding-top: 25px;
      padding-left: 30px;
    }
  }

  .texto5{
    background-color: rgb(15, 15, 15);
    border-radius: 20px;

    max-width: 90%;

    margin-left: 5%;
    height: 570px;
    margin-top: 25px;
    padding-bottom: 20px;

    & ul li{
      padding-left: 30px;
      list-style-type: none;
    }

    & h4{
      padding-top: 25px;
      padding-left: 30px;
    }


    & .orgMET{
      display: flex;
      background-color: rgb(29, 29, 29);
      height: 45%;
      border-radius: 20px;
      width: 90%;

      margin-left: 5%;
      
      
      & img{
        height: 200px;
        border-radius: 20px;
        margin-top: 25px;
        margin-right: 10px;
        margin-left: 500px;
        border: #f5d276 solid 1px;
      }
    }

    & .lugarGeral{
      margin-top: 20px;
      display: flex;
      background-color: rgb(29, 29, 29);
      height: 45%;
      border-radius: 20px;
      width: 90%;

      margin-left: 5%;
      margin-bottom: 20px;

      & img{
        height: 200px;
        border-radius: 20px;
        margin-top: 25px;
        margin-right: 10px;
        margin-left: 600px;
        border: #f5d276 solid 1px;
      }
    }
  }

  nav {
    background-color: rgb(26, 26, 26);
    height: 7%;

    position: sticky;
    top: 0;

    & ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      align-items: center;
      padding: 14px;

      & li {
        padding-top: 15px;
      }
    }
  }

  a {
    color: white;
    text-decoration: none;
  }

  header img {
    height: 30%;
    border-radius: 50%;
  }

  .center {
    text-align: center;
  }

  footer img {
    height: 20.25px;
  }

  footer p {
    padding-top: 10px;
  }

  footer {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    background: linear-gradient(to top, #8929a3b4, rgba(0, 0, 0, 0));
  }

  .centroRedeSocial p {
    text-align: center;
  }

  footer a {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  /*  */

  a:hover {
    color: #f5d276;
  }

  section p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-right: 50px;
  }

  h3 {
    width: 500px;
    margin-top: 20px;
  }

  h3:hover {
    color: #f5d276;
  }

  h1 {
    color: #8829a3;
  }

  /* Integrantes */

  .integrantes {
    background-color: rgb(23, 23, 23);
    padding-top: 50px;
    margin-top: 100px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;

    width: 100%;
  }

  .justificado {
    display: block;
    scale: 100%;
  }

  .justificado li {
    list-style-type: none;
  }

  .funcao {
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }

  .programadores {
    padding-right: 20px;
    border-left: rgb(71, 71, 71) solid 3px;
    padding-left: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }

  .merito {
    padding-right: 20px;
    padding-left: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }

  .organizacao {
    padding-right: 20px;
    padding-left: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }

  .Tec {
    padding-left: 20px;
    padding-right: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }

  .Ment {
    padding-left: 20px;
    padding-right: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }

  h2 {
    text-align: center;
  }

  .slide {
    text-align: center;
  }

  #primeiraImagem {
    border: #f5d276 solid 1px;
    border-radius: 15px;

    margin-left: 10px;
  }
  #segundaImagem {
    
    border: #f5d276 solid 1px;
    border-radius: 15px;

    margin-right: 10px;
  }

  .tudo {
    display: flex;
    justify-content: center;
    scale: 0.8;
  }

  

  .img1 {
    height: 150px;
  }

  .img2{
    height: 150px;
  }

  .trocar {
    background-color: transparent;
    border: none;
    color: #f5d276;
  }
  .trocar:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .recado {
    text-align: center;
    margin-top: 70px;
  }
}






/* Site no computador */


* {
  padding: 0;
  margin: 0;
}

body {
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

p,
h1,
h3 {
  padding-left: 80px;
}



nav {
  background-color: rgb(26, 26, 26);
  height: 73px;

  position: sticky;
  top: 0;

  & ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 14px;

    & li {
      padding-top: 15px;
    }
  }
}

a {
  color: white;
  text-decoration: none;
}

header img {
  height: 30%;
  border-radius: 50%;
}

.center {
  text-align: center;
}

footer img {
  height: 40px;
}

footer p {
  padding-top: 10px;
}

footer {
  display: flex;
  justify-content: center;
  padding-bottom: 0;
  background: linear-gradient(to top, #8929a3b4, rgba(0, 0, 0, 0));
}

.centroRedeSocial p {
  padding-right: +78px;
}

footer a {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

/*  */

a:hover {
  color: #f5d276;
}

section p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding-right: 50px;
}

h3 {
  width: 500px;
  margin-top: 20px;
}

h3:hover {
  color: #f5d276;
}

h1 {
  color: #8829a3;
}

/* Integrantes */

.integrantes {
  background-color: rgb(23, 23, 23);
  padding-top: 50px;
  margin-top: 100px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.justificado {
  display: block;
}

.justificado li {
  list-style-type: none;
}

.funcao {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.programadores {
  padding-right: 20px;
  border-left: rgb(71, 71, 71) solid 3px;
  padding-left: 20px;
  border-right: rgb(71, 71, 71) solid 3px;
}

.merito {
  padding-right: 20px;
  padding-left: 20px;
  border-right: rgb(71, 71, 71) solid 3px;
}

.organizacao {
  padding-right: 20px;
  padding-left: 20px;
  border-right: rgb(71, 71, 71) solid 3px;
}

.Tec {
  padding-left: 20px;
  padding-right: 20px;
  border-right: rgb(71, 71, 71) solid 3px;
}

.Ment {
  padding-left: 20px;
  padding-right: 20px;
  border-right: rgb(71, 71, 71) solid 3px;
}

h2 {
  text-align: center;
}

.slide {
  text-align: center;

  & #primeiraImagem {
    height: 500px;
  }
}

.tudo {
  display: flex;
  justify-content: center;

  & .slideEdit2 {
    border: #f5d276 solid 1px;
    border-radius: 15px;
    margin-left: 40px;

    & img {
      height: 500px;
      border-radius: 15px;
    }
  }
}

.trocar {
  background-color: transparent;
  border: none;
  color: #f5d276;
}
.trocar:hover {
  cursor: pointer;
}

.slideEdit img {
  border-radius: 15px;
  border: #f5d276 solid 1px;
}

.recado {
  text-align: center;
  margin-top: 70px;
}
