@media (min-width: 1300px){

    *{
        padding: 0;
        margin: 0;
    }
    
    body{
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        background-color: black;
    }
    
    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        color: #f5d276;
    }
    
    nav{
        height: 7%;
        background-color: rgb(26, 26, 26);
    
        position: sticky;
        top: 0;
        
        & img{
            display: none;
        }
    
        & ul {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            align-items: center;
            padding: 14px;
        
            & li {
              padding-top: 15px;
            }
          }
    }
    
    header{
        text-align: center;
    
        & .baner{
            height: 500px;
            width: 100%;
            background-image: url(../assets/banerEquipe.jpg);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center top;
            backface-visibility: hidden;
            background-attachment: fixed;
    
            & h1{
                font-size: 100px;
                padding-top: 10%;
            }
        }
    }

    .degrade{
        height: 40px;
        top: 0;
        background: linear-gradient(to bottom, #8929a3b4, black);
      }
    
    .caixaIntegrantes{
        text-align: center;
        margin-top: 20px;
        padding-top: 10px;
    
        & h1{
            margin-right: 1%;
        }
    }
    
    .grupo1, .grupo2, .grupo3{
        display: flex;
        margin-left: 13.6%;
        padding-top: 20px;
    }
    
    .caixa1, .caixa2, .caixa3, .caixa4, .caixa5, .caixa6, .caixa7, .caixa8, .caixa9, .caixa10, .caixa11, .caixa12{
        height: 450px;
        background-color: rgb(26, 26, 26);
    
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20px;
        max-width: 50%;
        padding-left: 5px;
        padding-right: 10px;
    
        border-radius: 20px;
        
    
        display: block;
    
        & img{
            height: 180px;
            border-radius: 20px;
            margin-top: 25px;
            margin-left: 2%;
        }
    
        & p{
    
            margin-top: 10px;
        }
    
        & a{
    
            & img{
                height: 80px;
            }
        }
    }

    .FaixaLoc{
        text-align: center;

        & .tudoLoc{
            background-color: rgb(26, 26, 26);
            margin-top: 100px;
            height: 380px;
            border-radius: 20px;
            max-width: 90%;
            margin-left: 5%;
            padding-top: 45px;

            & h1{
                margin-top: 10px;
            }
    
            & .localizacao{
                display: flex;
                justify-content: center;
    
                & .tec{
    
                    & img{
                        height: 200px;
                        border-radius: 20px;
                    }
                }
        
                & .loc{
                    border-left: solid 2px #8929a3b4;
                    margin-left: 30px;
                    padding-left: 30px;
                    text-align: justify;
        
                    & img{
                        height: 20px;
                    }
                }
            }
    
            
        }
    }
    
    footer{

        & img{
            height: 40px;
          } 
        
          & p{
            padding-top: 10px;
          }
    }
      
    
      footer {
        display: flex;
        justify-content: center;
        padding-bottom: 0;
        background: linear-gradient(to top, #8929a3b4, rgba(0, 0, 0, 0));
      }
    
      .centroRedeSocial p {
        text-align: center;
      }
    
      footer a {
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
      }
    

}





@media (max-width: 400px){

    *{
        padding: 0;
        margin: 0;
    }
    
    body{
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        background-color: black;
    }

    .container{
        overflow: hidden;
    }
    
    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        color: #f5d276;
    }
    
    nav {
        background-color: rgb(26, 26, 26);
        height: 7%;
        display: flex;

        position: sticky;
        top: 0;

        & img{
            height: 100%;
        }
    
        & ul {
          display: flex;
          justify-content: center;
          justify-content: space-between;
          list-style-type: none;
          align-items: center;
          padding: 14px;
          scale: 0.6;
          overflow: hidden;
    
          & li {
            padding-top: 15px;
            padding: 0px 20px 0px 20px;
          }
        }
      }

      .degrade{
        height: 40px;
        top: 0;
        background: linear-gradient(to bottom, #8929a3b4, black);
      }
    
    header{
        text-align: center;
        
    
        & .baner{
            height: 124px;
            width: 100%;
            background-image: url(../assets/banerEquipe.jpg);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            backface-visibility: hidden;
            
    
            & h1{
                font-size: 20px;
                padding-top: 13%;
            }
        }
    }
    
    .caixaIntegrantes{
        text-align: center;
        margin-top: 200px;
    
        & h1{
            margin-right: 1%;
        }
    }
    
    .grupo1, .grupo2, .grupo3, .grupo4{
        display: block;
        text-align: center;
        margin-left: 13.6%;
    }
    
    .caixa1, .caixa2, .caixa3, .caixa4, .caixa5, .caixa6, .caixa7, .caixa8, .caixa9, .caixa10, .caixa11, .caixa12{
        height: 450px;
        background-color: rgb(26, 26, 26);
    
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20px;
        max-width: 60%;
        padding-left: 5px;
        padding-right: 10px;
    
        border-radius: 20px;
        
    
        display: block;
    
        & img{
            height: 180px;
            border-radius: 20px;
            margin-top: 25px;
            margin-left: 2%;
        }
    
        & p{
    
            margin-top: 10px;
    
            & u{
                
            }
        }
    
        & a{
    
            & img{
                height: 80px;
            }
        }
    }

    .FaixaLoc{
        text-align: center;

        & .tudoLoc{
            background-color: rgb(26, 26, 26);
            margin-top: 100px;
            height: 600px;
            border-radius: 20px;
            max-width: 90%;
            margin-left: 5%;
            padding-top: 45px;

            & h1{
                margin-top: 10px;
            }
    
            & .localizacao{
                display: block;
                justify-content: center;
    
                & .tec{
    
                    & img{
                        height: 200px;
                        border-radius: 20px;
                    }
                }
        
                & .loc{
                    border-left: solid 2px #8929a3b4;
                    border-right: solid 2px #8929a3b4;
                    margin-left: 5px;
                    padding-left: 5px;
                    padding-right: 20px;
                    margin-top: 30px;
                    text-align: justify;
        
                    & img{
                        height: 20px;
                    }
                }
            }
    
            
        }
    }
    
    footer img {
        height: 40px;
      }
    
      footer p {
        padding-top: 10px;
      }
    
      footer {
        display: flex;
        justify-content: center;
        padding-bottom: 0;
        background: linear-gradient(to top, #8929a3b4, rgba(0, 0, 0, 0));
      }
    
      .centroRedeSocial p {
        text-align: center;
      }
    
      footer a {
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
      }
}






@media screen and (min-width: 401px) and (max-width: 600px){

    *{
        padding: 0;
        margin: 0;
    }
    
    body{
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        background-color: black;
    }

    .container{
        overflow: hidden;
    }
    
    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        color: #f5d276;
    }
    
    nav {
        background-color: rgb(26, 26, 26);
        height: 7%;
        display: flex;

        position: sticky;
        top: 0;

        & img{
            height: 100%;
        }
    
        & ul {
          display: flex;
          justify-content: center;
          justify-content: space-between;
          list-style-type: none;
          align-items: center;
          padding: 14px;
          scale: 0.6;
          overflow: hidden;
    
          & li {
            padding-top: 15px;
            padding: 0px 20px 0px 20px;
          }
        }
      }

      .degrade{
        height: 40px;
        top: 0;
        background: linear-gradient(to bottom, #8929a3b4, black);
      }
    
    header{
        text-align: center;
        height: 350px;
        
    
        & .baner{
            height: 350px;
            width: 100%;
            background-image: url(../assets/banerEquipe.jpg);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center top;
            backface-visibility: hidden;
            background-attachment: fixed;
            
    
            & h1{
                font-size: 80px;
                padding-top: 13%;
            }
        }
    }
    
    .caixaIntegrantes{
        text-align: center;
        margin-top: 200px;
    
        & h1{
            margin-right: 1%;
        }
    }
    
    .grupo1, .grupo2, .grupo3, .grupo4{
        display: block;
        text-align: center;
        margin-left: 13.6%;
    }
    
    .caixa1, .caixa2, .caixa3, .caixa4, .caixa5, .caixa6, .caixa7, .caixa8, .caixa9, .caixa10, .caixa11, .caixa12{
        height: 450px;
        background-color: rgb(26, 26, 26);
    
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20px;
        max-width: 60%;
        padding-left: 5px;
        padding-right: 10px;
    
        border-radius: 20px;
        
    
        display: block;
    
        & img{
            height: 180px;
            border-radius: 20px;
            margin-top: 25px;
            margin-left: 2%;
        }
    
        & p{
    
            margin-top: 10px;
    
            & u{
                
            }
        }
    
        & a{
    
            & img{
                height: 80px;
            }
        }
    }

    .FaixaLoc{
        text-align: center;

        & .tudoLoc{
            background-color: rgb(26, 26, 26);
            margin-top: 100px;
            height: 450px;
            border-radius: 20px;
            max-width: 90%;
            margin-left: 5%;
            padding-top: 45px;

            & h1{
                margin-top: 10px;
            }
    
            & .localizacao{
                display: block;
                justify-content: center;
    
                & .tec{
    
                    & img{
                        height: 200px;
                        border-radius: 20px;
                    }
                }
        
                & .loc{
                    border-left: solid 2px #8929a3b4;
                    border-right: solid 2px #8929a3b4;
                    margin-left: 30px;
                    margin-right: 30px;
                    margin-top: 30px;
                    padding-left: 30px;
                    text-align: justify;
        
                    & img{
                        height: 20px;
                    }
                }
            }
    
            
        }
    }
    
    footer img {
        height: 40px;
      }
    
      footer p {
        padding-top: 10px;
      }
    
      footer {
        display: flex;
        justify-content: center;
        padding-bottom: 0;
        background: linear-gradient(to top, #8929a3b4, rgba(0, 0, 0, 0));
      }
    
      .centroRedeSocial p {
        text-align: center;
      }
    
      footer a {
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
      }
}
