*{
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 2vh;
}

nav{
  max-width: 100%;
  background-color: rgb(26, 26, 26);
  height: 8.3%;

  position: sticky;
  top: 0;
  
  & ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 14px;
  
    & li {
      padding-top: 1%;
    }
  }
  }

/* Botão responsivo */

.hamburguer{
  border: none;
  background: none;
  border-top: 3px solid white;
  cursor: pointer;
}

.hamburguer::before, .hamburguer::after{
  content: " ";
  display: none;
  width: 3%;
  height: 50px;
  background: white;
  margin-top: 0.09%;
  
}

/* Botão responsivo */

  a{
    color: white;
    text-decoration: none;
  }

  a:hover{
    color: #f5d276;
  }

  header{
    height: 85%;
    background-image: url(../assets/bombaDeSementes.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;

    & h1{
      font-size: 480%;
      text-align: center;
      padding-top: 18%;
    }
  }

  .texto1, .texto2, .texto3{
    margin-top: 10%;
    padding-top: 0.2%;
    border-radius: 20px;
    max-width: 90%;
    margin-left: 5%;

    & h3{
      margin-top: 2%;
      margin-left: 2%;
    }

    & p{
      margin-top: 1%;
      margin-left: 2%;
    }
  }

  .texto1{
    height: 50%;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(1, 1, 1, 0)), url(../assets/projeto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .texto2{
    height: 50%;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(1, 1, 1, 0)), url(../assets/germinacao.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .texto3{
    height: 50%;
    background-color: rgb(26, 26, 26);
  }


  /* Parte dos integrantes (Faixa de nomes) */

  .integrantes {
    background-color: rgb(23, 23, 23);
    padding-top: 50px;
    margin-top: 100px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
  
    width: 100%;
  }
  
  .justificado {
    display: block;
    scale: 1;
    text-align: center;

    & li{
      list-style-type: none;
    }
  }
  
  .funcao {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    text-align: justify;
  }
  
  .programadores {
    padding-right: 20px;
    border-left: rgb(71, 71, 71) solid 3px;
    padding-left: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }
  
  .merito {
    padding-right: 20px;
    padding-left: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }
  
  .organizacao {
    padding-right: 20px;
    padding-left: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }
  
  .Tec {
    padding-left: 20px;
    padding-right: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }
  
  .Ment {
    padding-left: 20px;
    padding-right: 20px;
    border-right: rgb(71, 71, 71) solid 3px;
  }



  /* Parte das redes sociais */


  footer{
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    background: linear-gradient(to top, #8929a3b4, rgba(0, 0, 0, 0));
    
    & img{
      height: 5vh;
    }

    & a{
      text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    }
  }


@media screen and (min-width: 360) and (max-width: 1200px) {
  .hamburguer{
    display: block;
  }
}
